body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-container {
    display: flex;
    gap: 40px;
}

#display-container {
    width: 500px;
    height: 600px;
}

h1 {
    color: #333;
}

#canvas {
    border: 2px solid #333;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

button {
    padding: 15px 25px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#predict-container {
    width: 500px;
}

h2 {
    color: #333;
    font-size: 24px;
}

.probability-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.probability-label {
    width: 40px;
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
}

.probability-bar-container {
    width: 80%;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.probability-bar {
    height: 100%;
    background-color: #aec6cf;
    border-radius: 15px;
    transition: width 0.3s ease;
}

.probability-percentage {
    margin-left: 20px;
    color: #333;
    font-size: 18px;
}

#result {
    /* 강조된 색깔 */
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}