<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MNIST Digit Recognizer</title>
    <link rel="stylesheet" href="./static/styles.css">
    <script src="./static/script.js" defer></script>
</head>

<body>
    <div id="main-container">
        <div id="display-container">
            <h1>Draw a digit 0~9</h1>
            <canvas id="canvas" width="400" height="400"></canvas>
            <br>
            <button id="submit-button">Submit</button>
            <button id="clear-button">Clear</button>
        </div>
        <div id="predict-container">
            <h2 id="result"></h2>
            <div id="probabilities"></div>
        </div>
    </div>
</body>

</html>