<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MNIST Digit Recognizer</title>
    <link rel="stylesheet" href="./static/styles.css">
    <script src="./static/script.js"></script>
</head>

<body>
    <h1>Draw a digit</h1>
    <canvas id="canvas" width="280" height="280"></canvas>
    <br>
    <button onclick="submitDrawing()">Submit</button>
    <button onclick="clearCanvas()">Clear</button>
    <h2 id="result"></h2>
    <div id="probabilities"></div>
</body>

</html>