<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MNIST Digit Recognizer</title>
    <link rel="stylesheet" href="./static/styles.css">
    <script src="./static/script.js" defer></script>
</head>

<body>
    <div id="display-container">
        <h1>Draw a digit 0~9</h1>
        <canvas id="canvas" width="280" height="280"></canvas>
        <br>
        <button onclick="submitDrawing()">Submit</button>
        <button onclick="clearCanvas()">Clear</button>
    </div>
    <div id="predict-container">
        <h2 id="result"></h2>
        <div id="probabilities"></div>
    </div>
</body>

</html>